.btn {
  display: inline-block;
  margin: 0 auto;
  background: transparent
    linear-gradient(84deg, var(--accent-color) 0%, #714724 100%) 0% 0% no-repeat
    padding-box;
  border-radius: 100px;
  padding: 1em 2.5em;
  color: #fff;
}

.btn--bounce {
  animation-name: bounce-5;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}

@keyframes bounce-5 {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-50px);
  }
  50% {
    transform: scale(1, 1) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.btn--upper {
  text-decoration: none;
  text-transform: uppercase;
}
