@use '../abstract/variables' as *;

body {
  font-family: var(--main-font);
}

.title {
  font-family: var(--main-font);
  letter-spacing: 3px;
  line-height: 1.3;
  font-size: 3.2rem;
  text-align: center;
  color: var(--primary-color);
}

.title--light {
  color: white;
}

.subtitle {
  font-family: var(--main-font);
  letter-spacing: 3px;
  font-size: 1.2rem;
  color: var(--accent-color);
  text-transform: uppercase;
}

.notice {
  letter-spacing: 3px;
  font-family: var(--main-font);
  color: var(--accent-color);
  text-transform: uppercase;
}
